<h1>Templates</h1>

<table style="width:100%">
  <tr>
    <ng-container *ngTemplateOutlet="!rowsHeadersGeneratorTemplateRef ? rowsHeadersGeneratorDefault : rowsHeadersGeneratorTemplateRef; context: {cols: this.cols}"></ng-container>
  </tr>
  <ng-container *ngTemplateOutlet="!rowsDataGeneratorTemplateRef ? rowsDataGeneratorDefault : rowsDataGeneratorTemplateRef; context: {rowsData: this.rowsData, cols: this.cols}"></ng-container>
</table>

<ng-template #rowsHeadersGeneratorDefault let-cols="cols">
  <th *ngFor="let col of cols">
    <ng-container *ngTemplateOutlet="!col.headerTemplateRef ? rowHeadersGeneratorDefault : col.headerTemplateRef; context: {header: col.header}"></ng-container>
  </th>
</ng-template>

<ng-template #rowHeadersGeneratorDefault let-header="header">
  {{header}}
</ng-template>

<ng-template #rowsDataGeneratorDefault let-rowsData="rowsData" let-cols="cols">
  <tr *ngFor="let rowData of rowsData">
    <td *ngFor="let col of cols">
      <ng-container *ngTemplateOutlet="!col.fieldTemplateRef ? rowDataGeneratorDefault : col.fieldTemplateRef; context: {rowData: rowData, field: col.field}"></ng-container>
    </td>
  </tr>
</ng-template>

<ng-template #rowDataGeneratorDefault let-rowData="rowData" let-field="field">
  {{rowData[field]}}
</ng-template>
