<ng-template #rowsHeadersGeneratorTemplateRef let-cols="cols">
  <th *ngFor="let col of cols">{{col.header | uppercase}}</th>
</ng-template>

<ng-template #rowsDataGeneratortemplateRef let-rowsData="rowsData" let-cols="cols">
  <tr *ngFor="let rowData of rowsData">
    <td *ngFor="let col of cols" class="color-red">{{rowData[col.field]}}</td>
  </tr>
</ng-template>

<app-templates  [cols]="cols"
                [rowsData]="rowsData"
                [rowsDataGeneratorTemplateRef]="rowsDataGeneratortemplateRef"
                [rowsHeadersGeneratorTemplateRef]="rowsHeadersGeneratorTemplateRef"></app-templates>
