<ng-template #rowsHeadersGeneratorTemplateRef let-cols="cols">
  <th *ngFor="let col of cols">{{col.header | uppercase}}</th>
</ng-template>

<ng-template #rowsDataGeneratortemplateRef let-rowsData="rowsData" let-cols="cols">
  <tr *ngFor="let rowData of rowsData">
    <td *ngFor="let col of cols" class="color-red">{{rowData[col.field]}}</td>
  </tr>
</ng-template>

<ng-template #headerLastnameDataGeneratortemplateRef let-header="header">
  <span class="color-green">{{header}}</span>
</ng-template>

<ng-template #fieldLastnameDataGeneratortemplateRef let-rowData="rowData" let-field="field">
  <span class="color-blue">{{rowData[field]}}</span>
</ng-template>

<ng-template #fieldAgeDataGeneratortemplateRef let-rowData="rowData" let-field="field">
  <span class="color-blueviolet">{{rowData[field]}}</span>
</ng-template>

<app-templates  [cols]="cols"
                [rowsData]="rowsData"
                [rowsDataGeneratorTemplateRef]="rowsDataGeneratortemplateRef"
                [rowsHeadersGeneratorTemplateRef]="rowsHeadersGeneratorTemplateRef"></app-templates>

<app-templates  [cols]="cols"
                [rowsData]="rowsData"></app-templates>
